html, body {
	height: 100%;
	margin: 0;
}

.logo {
	height: 50px;
}

.wrapper-progress {
	margin: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 6px;
}

.close {
	flex: 0 0 auto;
	cursor: pointer;
}

#wrapper {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 8px;
	box-sizing: border-box;
	align-items: center;
	margin-top: 8px;
}

#status {
	position: sticky;
	top: 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	z-index: 100;
	display: flex;
}

.status-text {
	flex: 1;
	min-width: 0;
}

.loading {
	background-color: #fdd0a2;
	padding: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.warning {
	background-color: #ff6b6b;
	padding: 8px;
	width: 100%;
}

.success {
	background-color: #74c476;
	padding: 8px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#judul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#judul-halaman {
	flex: 1;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

#namaAcara {
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	margin: 10px 0;
	position: relative;
}

#namaAcara::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px; /* jarak dari teks */
  transform: translateX(-50%);
  width: 80%; /* panjang garis */
  height: 4px;
  background: linear-gradient(to right, transparent, #1C6EA4, transparent);
}

.detail-wrapper {
	display: grid;
	grid-template-columns: max-content 1fr; /* kolom kiri otomatis mengikuti label terpanjang */
	width: calc(100% - 16px); /* Sama dengan padding wrapper 8px */
	margin: 0 8px; /* jarak kiri-kanan agar sejajar dengan progress bar */
}

.detail-acara {
	display: contents; /* agar anak-anaknya (label dan value) masuk ke grid yang sama */
}

.value {
	border: 1px solid #000;
	padding: 4px;
}

.detail-acara .value {
	border: none;
}

#map {
	border: 1px solid #dddddd;
	border-radius: 6px;
	width: 100%;
	height: 300px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#map-message {
	text-align: center;
}

.user-pin {
	color: red;
	font-size: 32px;
}

#form-daftar-hadir {
	display: none;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.input-form {
	display: flex;
	flex-direction: column;
	border: 1px solid #dddddd;
	font-size: 14px;
	width: 100%;
	margin: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 6px;
	box-sizing: border-box;
}

label {
	font-weight: bold;
	padding: 4px;
	margin-bottom: 8px;
	display: block;
}

.label {
	font-weight: bold;
	padding: 4px;
}

.loading-icon {
	border: 4px solid black;
	border-top: 4px solid blue;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	animation: spin 1s linear infinite;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.judul-card {
	font-weight: bold;
	font-size: 18px;
}

.judul-progress {
	font-weight: bold;
}

.progress {
	position: relative;
	width: 100%;
	background-color: #ccc;
	overflow: hidden;
	height: 24px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.progress-bar {
	background-color: green;
	height: 42px;
	width: 0%;
	transition: width 0.5s ease;
}

.progress-text {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
}

#diperbarui {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	padding: 8px;
}

.box-input {
	padding: 12px;
	border: none;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.dropdownBtn {
	background-color: #ffffff;
	color: #000000;
	padding: 12px;
	font-size: 14px;
	cursor: pointer;
	display: flex;
	text-align: left;
	justify-content: space-between;
	border: none;
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.dropdown {
	position: relative;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f6f6f6;
	min-width: 100%;
	border: 1px solid #ddd;
	z-index: 10;
	max-weight: 250px;
	overflow: auto;
}

.dropdown-content.show {
	display: block;
}

#inputInstansi {
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: none;
	border-bottom: 1px solid #ddd;
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
}

.dropdown-item:hover {
	background-color: #e6e6e6;
}

button {
	padding: 12px;
	border-radius: 6px;
	border: none;
	color: #fff;
	cursor: pointer;
	background: linear-gradient(to bottom, #5aa9ff, #007bff);
	box-shadow: 0 4px 0 #005fcc, 0 3px 8px rgba(0, 0, 0, 0.3);
	transition: all 0.15s ease;
	font-weight: bold;
}

button:active {
	transform: translateY(2px);
	background: linear-gradient(to bottom, #3f8efc, #0069d9);
	box-shadow:
    0 1px 0 #004da8 inset,       /* shadow ke dalam */
    0 2px 4px rgba(0, 0, 0, 0.3) inset;
}

#instansi-blm-hadir {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.grup-wrapper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	max-width: 300px;
	width: 100%;       /* tetap responsif di layar kecil */
	box-sizing: border-box;
}

.grup-list {
	counter-reset: num;
	list-style: none;
	padding: 0;
}

.grup-header {
	font-weight: bold;
	background-color: #1C6EA4;
	color: #fff;
	border-radius: 4px;
	padding: 4px;
	text-align: center;
}

.grup-list li {
	padding: 4px;
}

.grup-list li:nth-child(odd) {
	background-color: #fff;
}

.grup-list li:nth-child(even) {
	background-color: #eee;
}

.grup-list li {
	counter-increment: num;
	padding-left: 1.8em;
	position: relative;
}

.grup-list li::before {
	content: counter(num) ".";
	position: absolute;
	left: 0;
	background-color: #fff;
}

.grup-list li:nth-child(even)::before {
	background-color: #eee;
}