html, body {
  height: 100%;
  margin: 0;
}

#logo {
  height: 80px;
}

#logo img {
  height: 80px;
}

#wrapper {
  border: 1px solid red;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
}

#status {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.loading {
  background-color: #fdd0a2;
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning {
  background-color: #ff6b6b;
  padding: 8px;
  width: 100%;
}

.success {
  background-color: #74c476;
  padding: 8px;
  width: 100%;
}

#judul {
  text-align: center;
}

#map {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

#map-message {
  text-align: center;
}

.user-pin {
  color: red;
  font-size: 32px;
}

#form-daftar-hadir {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.input-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  margin-bottom: 12px;
  font-size: 14px;
  width: 100%;
}

label {
  font-weight: bold;
}

.loading-icon {
  border: 4px solid black;
  border-top: 4px solid blue;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.judul-card {
  font-weight: bold;
  font-size: 18px;
}

#progress {
  position: relative;
  width: 100%;
  background-color: #ddd;
  overflow: hidden;
  height: 24px;
}

#progress-bar {
  background-color: green;
  height: 42px;;
  width: 0%;
  transition: width 0.5s ease;
}

#progress-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}

#diperbarui {
}

.box-input {
  padding: 12px;
}

.dropdownBtn {
  background-color: #ffffff;
  color: #000000;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%;
  border: 1px solid #ddd;
  z-index: 10;
  max-weight: 250px;
  overflow: auto;
}

.dropdown-content.show {
  display: block;
}

#inputInstansi {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #e6e6e6;
}

button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: blue;
  color: #fff;
}
